APP_NAME=MyFinance
APP_ENV=production
APP_KEY=base64:GeradoComArtisanAqui
APP_DEBUG=false
APP_URL=https://api.seudominio.com
FRONTEND_URL=https://myfinance-app-cevc.onrender.com/

CORS_ALLOWED_ORIGINS=https://app.myfinance.com

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=myfinance
DB_USERNAME=myfinance
DB_PASSWORD=SenhaSeguraAqui

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seuemail@gmail.com
MAIL_PASSWORD=secret
MAIL_SCHEME=null
MAIL_FROM_ADDRESS=seuemail@gmail.com
MAIL_FROM_NAME="${APP_NAME}"
